#set ( $val = $Float.parseFloat($value) )
#if ( $chipid == "670550")
#if ( $val > 0 && $val < 1.4 )$date|$time|$ip|$heap|$value#end
#else
#if ( $val > 0 && $val < 0.6 )$date|$time|$ip|$heap|$value#end
#end